{% extends "base.html" %}

{% block title %}Stacked Deck{% endblock %}

{% block content %}
    <h1 class="display-6 fw-bold text-primary">Update Assignment</h1>
    <hr>
     <form action='' method="post" novalidate>
         {{ form.hidden_tag() }}
        <p>
            {{ form.title.label(class="form-label") }}<br>
            {{ form.title(class="form-control") }}<br>
        </p>
        <p>
            {{ form.due_date.label(class="form-label") }}<br>
            {{ form.due_date(class="form-control") }}<br>
            {% for error in form.due_date.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
        </p>
        <p>
            {{ form.priority.label(class="form-label") }}<br>
            {{ form.priority(class="form-control") }}<br>
        </p>
        <div class="d-flex">
            <a href="{{ url_for('view_assignments') }}" class="btn btn-outline-primary">← Go Back</a>
        {{ form.submit(class="btn btn-outline-primary ms-auto") }}
        </div>
        <hr>
    </form>
{% endblock %}