{% extends "base.html" %} {% block title %}Assignments{% endblock %} {% block
content %}

<h1 class="display-6 fw-bold text-primary">Your Assignments</h1>
<hr />
{% if assignments %}
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Priority</th>
      <th>Due Date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for assignment in assignments %}
    <tr>
      <td>{{ assignment.title }}</td>
      <td>{{ assignment.priority.name.capitalize() }}</td>
      <td>{{ assignment.due_date.strftime('%Y-%m-%d %H:%M') }}</td>
      <td>
        <form
          action="{{ url_for('toggle_status', item_type='assignment', item_id=assignment.id) }}"
          method="POST"
        >
          <input
            type="checkbox"
            onchange="this.form.submit()"
            {%
            if
            assignment.completed
            %}checked{%
            endif
            %}
          />
        </form>
      </td>
      <td>
        <a
          href="{{ url_for('updating_assignment', assignment_id=assignment.id) }}"
          class="btn btn-outline-secondary"
          >Update</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<hr />
<div class="d-flex">
  <a href="{{ url_for('index') }}" class="btn btn-outline-primary"
    >Return to Home</a
  >
  <a
    href="{{ url_for('add_assignment') }}"
    class="btn btn-outline-primary ms-auto"
    >Add New Assignment</a
  >
</div>
{% else %}
<p>
  <a href="{{ url_for('add_assignment') }}" class="btn btn-outline-primary"
    >No assignments found. Add one here</a
  >
</p>

{% endif %} {% endblock %}
